.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
}

.big-rectangle {
  width: 1450px;
  height: 600px;
  border: 2px solid black;
  position: relative;
  background-color:rgb(236, 240, 158);
}

.rectangle-section {
  position: absolute;
  border: 2px dashed red;
  border-radius: 8px;
}

.section1 {
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
}

.section2 {
  width: 25%;
  height: 100%;
  top: 0;
  left: 50%;
}

.section3 {
  width: 25%;
  height: 100%;
  top: 0;
  left: 75%;
  border-radius: 8px;
}
